html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #ccc;
}

.canvas-container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    background: #fff;
}

#canvas {
    width: 100%;
    height: 100%;
}
